# Python
__pycache__/
*.py[cod]
*$py.class

# Environments
.env
.venv/
venv/
ENV/
env/

# IDEs
.vscode/
.idea/

# Mac
.DS_Store

# Logs
*.log

# Uvicorn and Python runtime
*.pid

# pytest
.cache/

# Distribution
build/
dist/
*.egg-info/
